@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
#root {
	padding: 0;
	width: 100%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column; /* Should align items in a column */
	align-items: flex-start; /* Align all items to the start (left) */
}

.cd-intro {
	align-self: flex-start; /* Force alignment to the start */
	width: 100%; /* Make sure it takes the full width like other elements */
}

.cd-headline.rotate-1 .cd-words-wrapper {
	display: inline-block;
	perspective: 300px;
}
.cd-headline.rotate-1 b {
	opacity: 0;
	transform-origin: 50% 100%;
	transform: rotateX(180deg);
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

.cd-headline.rotate-1 b.is-visible {
	position: relative;
	opacity: 1;
	transform: rotateX(0deg);
}
.cd-headline.rotate-1 b {
	opacity: 0;
	transform-origin: 50% 100%;
	transform: rotateX(180deg);
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

.cd-headline.rotate-1 b.is-visible {
	position: relative;
	opacity: 1;
	transform: rotateX(0deg);
	animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
	transform: rotateX(180deg);
	animation: cd-rotate-1-out 1.2s;
}
@keyframes cd-rotate-1-in {
	0% {
		transform: rotateX(180deg);
		opacity: 0;
	}
	35% {
		transform: rotateX(120deg);
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	100% {
		transform: rotateX(360deg);
		opacity: 1;
	}
}

@keyframes cd-rotate-1-out {
	0% {
		transform: rotateX(0deg);
		opacity: 1;
	}
	35% {
		transform: rotateX(-40deg);
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	100% {
		transform: rotateX(180deg);
		opacity: 0;
	}
}
.floater {
	position: absolute;
	top: 200px;
	right: 200px;
	width: 600px;
}
